html {
    box-sizing: border-box;
    
}
*{
    margin: 0;
    padding: 0;
}
ul,a{
    list-style: none;
    text-decoration: none;
    color: white;
}
.header-body{
    background: #1F2937;
    color: white;
}

.header-navbar{
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    border: dotted red;
    max-width: 80%;
    margin: auto;    
    align-items: center;
}

.header-logo h1{
    color: #F9FAF8;
    font-size: 24px;
}

.header-nav-links ul{
    display: flex;
    gap: 1rem;
    color: #E5E7EB;
    font-size: 18px;
}

.hero-section{
    padding: 2rem;
    border: dotted red;
    max-width: 80%;
    margin: auto;  
    display: flex;
    justify-content: space-between;
}

.hero-left{
    width:50%;
}

.hero-right{
    width: 50%;
}

.hero-right img{
    max-height: 250px;
}
